// Transitions
$body-transition : all .8s ease-in;
$normal-transition: all .3s ease-in;
$fast-transition: all .1s ease-in;

// Font-family
$header-font-family: 'Sixtyfour', sans-serif;
$main-font-family: 'Lato', sans-serif;

// Colors
$color-white: #fff;
$color-black: #000;
$color-gray: #627373;
$green-primary: #81FBE9;
$green-secondary: #8BFAB4;