.icon {
    border: 1px solid $green-secondary;
    border-radius: 50%;
    cursor: pointer;
    padding: .5rem;
    font-size: 1.3rem;
    color: $green-secondary;
    font-weight: 600;
    transition: $fast-transition;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background-color: $green-secondary;
        color: $color-white;
    }
}