.responsive {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, .5);

    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    &__logo {
        text-decoration: none;
        font-family: $header-font-family;
        color: $green-secondary;
        text-align: center;
        font-size: 3rem;
        font-weight: 600;
        letter-spacing: 1px;
    }

    &__navigation {
        width: 70%;
    }

    &__list {
        list-style: none;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 1.5rem;
    }

    &__link {
        font-size: 2.5rem;
        font-family: $header-font-family;
        text-transform: uppercase;
        position: relative;
        text-decoration: none;
        transition: $normal-transition;
        color: $green-secondary;

        &::before {
            position: absolute;
            content: "";
            border-radius: 10px;
            height: 5px;
            width: 0;
            bottom: -40%;
            background: $color-white;
        }

        &:hover {
            &::before {
                width: 100%;
            }
        }

    }

    &__menu-bar {
        border: 1px solid $green-secondary;
        border-radius: 50%;
        cursor: pointer;
        padding: .5rem;
        font-size: 4rem;
        color: $green-secondary;
        font-weight: 600;
        transition: $fast-transition;

        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background-color: $green-secondary;
            color: $color-white;
        }
    }

    .icon {
        font-size: 4rem;
    }

    .icons {
        display: flex;
        gap: 1rem;
    }
}